html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}

h1{font-size:36px}
h2{font-size:30px}
h3{font-size:30px}
h4{font-size:20px}
h5{font-size:16px}
h6{font-size:16px}

h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}


body{
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    
    /* w3-light-grey */
    color:#000!important;background-color:#f1f1f1!important;

    /* w3-content */
    /* max-width:980px;margin:auto; */

    /* w3-margin-top */
    margin-top:36px!important;

}

.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col {padding:0 8px}

/* w3-container, w3-row-padding */
div.outline-3:before, div.outline-3:after,div.outline-2:before, div.outline-2:after, div.outline-1:before, div.outline-1:after, #content:before, #content:after{
    content:"";
    display:table;
    clear:both;
}

/* container */
/* @media only screen and (min-width:993px){ */
/*     /\* div.outline-4, div.outline-5, div.outline-text-4, div.outline-text-5,  div.outline-text-6, div.outline-text-7{ *\/ */
/*     /\*     padding:0.01em 16px; *\/ */
/*     /\* } *\/ */
/*     /\* h1 { *\/ */
/*     /\*     padding:0.2em 16px; *\/ */
/*     /\* } *\/ */
/*     #content{ */
/*         padding:0.01em 16px; */
/*     } */
/*     body{ */
/*         padding:0 16px; */
/*     } */
/*     #nav-left-buttons{margin-left:16px!important;} */

/* } */

/* @media only screen and (max-width:993px){ */
/*     /\* div.outline-4, div.outline-5, div.outline-text-4, div.outline-text-5,  div.outline-text-6, div.outline-text-7{ *\/ */
/*     /\*     padding:0.01em 8px; *\/ */
/*     /\* } *\/ */
/*     /\* h1 {padding:0.2em 4px;} *\/ */
#content{
    padding:0.01em 4px;
}
body{
    padding:0 8px;
}
#nav-left-buttons{margin-left:8px!important;}

/* } */

div.outline-text-3{
    margin-top: -12px;
}

div.outline-text-2{
    margin-top: -16px;
}

div.outline-text-2{
    margin-top: -16px;
    margin-left: 10pt; 
}

div.outline-3{
    margin:16px 16px;
    border-bottom:1px solid #ddd;
}


div.outline-2{
    margin:0px 16px;
    border-bottom:1px solid #ddd;
}

/* div.outline-1{ */
/*     /\* w3-card-2 *\/ */
/*     box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); */
/*     /\* w3-white *\/ */
/*     color:#000!important;background-color:#fff!important; */
/*     /\* w3-margin-bottom *\/ */
/*     margin-bottom:16px!important; */
/* } */

div.outline-1 {
    
}

top-grid{
    /* margin-top:100px; */
}

#content {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    color:#000!important;
    background-color:#fff!important;
    margin-bottom:16px!important;
}

/* w3-text-grey */
h1, h2, h3, h4, h5 {
    color:#757575!important;
}

h1 {
    padding-bottom: 16px!important;
    border-bottom:1px solid #ddd;
}

/* w3-text-dark-grey */
h2{
    color:#3a3a3a!important;
    /* font-weight: bold; */
    /* font-size: inherit; */
}

h2 {
    /* w3-padding-16 */
    padding-top:16px!important;padding-bottom:16px!important;
}


h2 {
    /* padding-top:8px; */
}

.publist h3, .publist h4{
    display:none;
}

ul {
    /* w3-ul */
    list-style-type:disc;
    padding-left: 12px;
    margin-left: 8px;
}


ul li {
    padding:0px 0px;
    margin-bottom: 5px;
    border-bottom:0px;
}

ul li:last-child{
    border-bottom:none;
    margin-bottom: 16px;
}



/* ul { */
/*     /\* w3-ul *\/ */
/*     list-style-type:none; */
/*     padding:0; */
/*     margin:0 */
/* } */

/* ul li { */
/*     padding:8px 16px; */
/*     border-bottom:1px solid #ddd; */
/* } */

/* ul li:last-child{ */
/*     border-bottom:none; */
/*     margin-bottom: 16px; */
/* } */

.icon-size{
    font-size: 1.1em!important;
    
}

.done {
    display:none;
}

#content{
    margin-top: 50px;
}
